<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cast.ticket">

    <application>

        <activity
            android:name=".app.TicketActivity"
            android:label="@string/title_new_ticket"
            android:parentActivityName=".app.MainActivity"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>

